[Unit]
Description=global Ideapad Gnome extension: Access rights

[Service]
Type=oneshot
ExecStart=-/usr/bin/chown -R root:root /usr/local/share/gnome-shell/extensions/ideapad@laurento.frittella
ExecStart=-/usr/bin/chmod -R og-w,a+rX,u+w /usr/local/share/gnome-shell/extensions/ideapad@laurento.frittella
RemainAfterExit=yes

[Install]
WantedBy=default.target
