[Unit]
Description=Set CPU to Performance

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/echo "0"	> /sys/devices/system/cpu/intel_pstate/hwp_dynamic_boost
ExecStartPre=/usr/local/share/legion-power-management/bin/lpm-set-epp power
ExecStart=/usr/local/share/legion-power-management/bin/lpm-set-governor powersave

[Install]
WantedBy=power-profile-power-saver.target
