[Unit]
Description=Call user's power-battery target for [%i]
After=power-battery.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo -u %i /bin/bash -c "export XDG_RUNTIME_DIR=/run/user/$(id -u %i); /usr/bin/systemctl --user start power-battery.target"

[Install]
WantedBy=power-battery.target
