/home/zimniy/Development/Own/github.com/dmitriysafronov/legion-power-management/usr/local/share/legion-power-management/systemd/system/power-profile-performance.service